aiohappyeyeballs==2.6.1
aiohttp==3.11.18
aiosignal==1.3.2
alembic==1.15.2
asttokens==2.2.1
async-timeout==5.0.1
attrs==25.3.0
backcall==0.2.0
catboost==1.2.8
category_encoders==2.8.1
certifi==2025.4.26
charset-normalizer==3.4.2
cloudpickle==3.1.1
colorama==0.4.6
colorlog==6.9.0
colour==0.1.5
comm==0.1.3
contourpy==1.3.2
cycler==0.12.1
datasets==3.5.1
debugpy==1.6.7
decorator==5.1.1
dill==0.3.8
dtreeviz==2.2.2
exceptiongroup @ file:///home/conda/feedstock_root/build_artifacts/exceptiongroup_1733208806608/work
executing==1.2.0
filelock==3.18.0
fonttools==4.57.0
frozenlist==1.6.0
fsspec==2025.3.0
graphviz==0.20.3
greenlet==3.2.2
huggingface-hub==0.30.2
idna==3.10
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/importlib-metadata_1737420181517/work
iniconfig==2.1.0
ipykernel==6.23.1
ipython==8.13.2
ipython_pygments_lexers @ file:///home/conda/feedstock_root/build_artifacts/ipython_pygments_lexers_1737123620466/work
jedi==0.18.2
joblib==1.5.0
jupyter_client==8.2.0
jupyter_core==5.3.0
kiwisolver==1.4.8
lightgbm==4.6.0
llvmlite==0.44.0
Mako==1.3.10
Markdown==3.8
MarkupSafe==3.0.2
matplotlib==3.10.1
matplotlib-inline==0.1.6
mljar-scikit-plot==0.3.12
mljar-supervised==1.1.17
multidict==6.4.3
multiprocess==0.70.16
narwhals==1.39.1
nest-asyncio==1.5.6
numba==0.61.2
numpy==1.26.4
optuna==4.3.0
optuna-integration==4.3.0
packaging==23.1
pandas==2.2.3
parso==0.8.3
patsy==1.0.1
pickleshare==0.7.5
pillow==11.2.1
platformdirs==3.5.1
plotly==6.1.0
pluggy==1.6.0
prompt-toolkit==3.0.38
propcache==0.3.1
psutil==5.9.5
pure-eval==0.2.2
pyarrow==20.0.0
Pygments==2.15.1
pyparsing==3.2.3
pytest==8.3.5
python-dateutil==2.8.2
pytz==2025.2
pywin32==306
PyYAML==6.0.2
pyzmq==25.0.2
requests==2.32.3
scikit-learn==1.6.1
scipy==1.15.2
seaborn==0.13.2
shap==0.47.2
six==1.16.0
slicer==0.0.8
SQLAlchemy==2.0.41
stack-data==0.6.2
statsmodels==0.14.4
tabulate==0.9.0
threadpoolctl==3.6.0
tomli==2.2.1
tornado==6.3.2
tqdm==4.67.1
traitlets==5.9.0
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1744302253/work
tzdata==2025.2
urllib3==2.4.0
wcwidth==0.2.6
wordcloud==1.9.4
xgboost==3.0.1
xxhash==3.5.0
yarl==1.20.0
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1732827521216/work
